.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-wrapper {
  border-bottom: #888 solid 1px;
}

.logo-wrapper {
  display: block;
  margin-top: 40px;
}

.main-logo {
  width: 70px;
}

/*** Products ***/
.product-card {
  width: 100%;
  margin-left: 30px;
  padding: 0 10px;
  margin-bottom: 40px;
}

.content-products {
  margin-top: 50px !important;
}

.cant-products-cart {
  color: #FFF;
  background-color: rgb(255, 60, 0);
  border-radius: 25pc;
  margin-left: 22px;
  margin-top: -42px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center; 
}

.section-title {
  margin-top: 40px;
}

.item-cart-image{
  max-width: 100px;
  max-height: 50px;
}

.checkout-item-wrapper {
   margin-top: 30px;
   height: 70px !important;
   border-bottom: #282c34 solid 1px;
}

.checkout-item-total {
  margin-top: 20px !important;
}

.cart-item-row {
  height: 80px;
}

.checkout-row-wrapper {
  margin-top: 30px;
  height: 50px;
  border-bottom: #333 solid 1px !important;
  border-bottom-style: dotted !important;
}

.customer-info-message{
  text-align: center;
  color: rgb(245, 13, 13);
  margin-top: 20px;
}

.btn-confirm-order-existing-customer {
  margin-top: 20px;
}